<form [formGroup]="cardForm">
  <p-card header="Card Details" subheader="Please provide 13 or 16 digit card number" [style]="{ width: '360px',
margin:'auto',marginTop:'5rem' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <div class="card flex flex-column md:flex-column gap-3">
      <div class="p-inputgroup">
        <p-inputNumber placeholder="Card Number" inputId="integeronly" formControlName="number" [style]="{width:'100%'}"
          [useGrouping]="false" (change)="onChangeCardnumber($event)" [class]="isInvalid('cvv')?'ng-dirty':''"> </p-inputNumber>
        <span class="p-inputgroup-addon" [style]="{padding:'1px'}">
          <img alt="Card" width="46" height="46"
            src="../assets/mastercard-logo-icon-mastercard-incorporated-american-multinational-financial-services-corporation-headquartered-204759308.jpg" />
        </span>
      </div>
      <div class="card flex flex-row md:flex-row gap-2">
        <div class="p-inputgroup">
          <p-inputNumber placeholder="CVV" formControlName="cvv" inputId="integeronly" [useGrouping]="false" [class]="isInvalid('cvv')?'ng-dirty':''">
          </p-inputNumber>
        </div>
        <div class="p-inputgroup">
          <p-calendar formControlName="expiryDate" [showIcon]="true" placeholder="Expiry Date"
            dateFormat="mm/yy" [class]="isInvalid('cvv')?'ng-dirty':''"></p-calendar>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div [style]="{textAlign:'right'}">
        <p-button [label]="operationType === 'new'?'Save':'Validate'" (click)="saveCard()"></p-button>
      </div>
    </ng-template>
  </p-card>
</form>